* {
    background-color: lightsteelblue;
}

.gameBox {
    display: flex;
    justify-content: center;
}

.playerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

.buttonBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultsBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}